.xx-section {
  padding-top: 20px;
  color: $WHITE;
  padding-bottom: 50px;

  &--wrapper {
    position: relative;
  }
  &--header {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px;
  }
  &--about {
    font-size: 18px;
    line-height: 1.6;
  }
  &--purple {
    background-color: $PURPLE_1;
  }
  &--red {
    background-color: $RED_1;
  }
  &--lightblue {
    background-color: $BLUE_2;
  }
  &--blue {
    background-color: $BLUE_3;
  }
  &--orange {
    background-color: $ORANGE_1;
  }
  &--white {
    background-color: $WHITE_1;
  }
  &--text-dark {
    color: $BLUE_3;
  }
  &--wave-bottom-blue {
    background: url('../images/wave_bottom.png') no-repeat center 101%;
    background-size: no-repeat;
    padding-bottom: 200px;
  }
  &--wave-bottom-orange {
    background: url('../images/wave_bottom_oj.png') no-repeat center 101%;
    background-size: no-repeat;
    padding-bottom: 200px;
  }
  &--wave-bottom-purple {
    background: url('../images/wave_bottom_purple.png') no-repeat center 101%;
    background-size: no-repeat;
    padding-bottom: 200px;
  }
  &--wave-bottom-lightblue {
    background: url('../images/wave_bottom_lightblue.png') no-repeat center 101%;
    background-size: no-repeat;
    padding-bottom: 200px;
  }
  &--wave-bottom-red {
    background: url('../images/wave_bottom_red.png') no-repeat center 101%;
    background-size: no-repeat;
    padding-bottom: 200px;
  }
  &--wave-bottom-white {
    background: url('../images/wave_bottom_white.png') no-repeat center 101%;
    background-size: no-repeat;
    padding-bottom: 200px;
  }
  &--wave-bottom-offset {
    background-position: 0 101%;
  }
  &--wave-bottom-blue,
  &--wave-bottom-orange,
  &--wave-bottom-purple,
  &--wave-bottom-white {
    // Stretches waves to fit ultrawides / super zoomed out
    @media screen and (min-width: $BP_XXL) {
      background-size: contain;
    }
  }
  &--fullheight {
    height: 100%;
    height: 100vh;
    padding-bottom: 100px;

    @media screen and (min-width: $BP_MD) {
      max-height: 1000px;
    }
    @media screen and (max-width: $BP_MD) {
      padding-bottom: 60px;
    }
  }
}

.xx-hero {
  color: $WHITE;

  h4 {
    font-size: 24px;
    line-height: 1.4;

    @media screen and (max-width: $BP_MD) {
      font-size: 18px;
    }
  }
  &--description {
    margin: 20px 0;
    color: $BLUE_3;
  }
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.xx-logo {
  &--text,
  &--text>* {
    font-size: 64px;
    letter-spacing: 25px;
    color: $WHITE;
    text-transform: uppercase;

    @media screen and (max-width: $BP_MD) {
      font-size: 48px;
      letter-spacing: 16px;
    }
    @media screen and (max-width: $BP_SM) {
      letter-spacing: 12px;
      font-size: 42px;
    }
  }
  &--orange {
    color: $ORANGE_1;
  }
}

img.logo {
  @media screen and (max-width: $BP_MD) {
    width: 160px;
    height: 160px;
  }
}

.xx-faq {
  &--question {
    font-size: 24px;
    margin-bottom: 12px;
  }
  &--answer {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
}

.xx-email-form {
  h6 {
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 1px;
  }
  .mc-field-group {
    display: inline-block;

    @media screen and (max-width: $BP_MD) {
      display: block;
      width: 90%;
      margin: auto;
    }
  }
  input[type="email"] {
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: $BLUE_3;
    width: 100%;
    margin-bottom: 10px;
  }
}

.xx-btn {
  &.btn-default,
  &.btn-primary {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 8px;
  }
  &.btn-primary {
    background-color: $ORANGE_1;
    color: $WHITE;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
      background-color: $ORANGE_1;
      color: $WHITE;
    }
    &:hover {
      background-color: lighten($ORANGE_1, 4%);
    }
  }
  &.btn-default {
    background-color: $BLUE_3;
    color: $WHITE;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
      background-color: $BLUE_3;
      color: $WHITE;
    }
    &:hover {
      background-color: lighten($BLUE_3, 8%);
    }
  }
  &.btn-lg {
    margin: 3px;
    padding: 12px 40px;
    border-radius: 10px;
    font-size: 22px;

    @media screen and (max-width: $BP_MD) {
      padding: 8px 24px;
      margin-bottom: 8px;
      font-size: 18px;
    }
  }
  @media screen and (max-width: $BP_MD) {
    display: block;
    width: 90%;
    margin: auto;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.xx-sponsor {
  max-width: 330px;
  max-height: 132px;
  vertical-align: middle;
  padding: 20px;
}

.xx-footer {
  .xx-tesc {
    width: 100px;
    display: inline-block;

    img {
      width: 100%;
    }
  }
}
